@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
  color: white;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.2s;
}

#navbar[data-visibility="visible"] {
  height: 59px;
}

#navbar[data-visibility="hidden"] {
  height: 0px;
}

#restaurant-name {
  color: white;
  padding: 10px;
  cursor: pointer;
}

#bar1,
#bar2,
#bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#menu-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}

@media (hover: hover) {
  #menu-button:hover {
    background-color: rgba(65, 65, 65, 0.4);
  }

  li:hover {
    background-color: rgba(65, 65, 65, 0.4);
  }
}

#menu {
  list-style-type: none;
  transition: height ease 0.3s;
}

#menu[data-state="closed"] {
  height: 0px;
}

#menu[data-state="open"] {
  height: 165px;
}

header {
  background-color: rgba(0, 0, 0, 0.76);
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

#hero {
  background-image: url("./assets/images/jakub-dziubak-iOHJKJqO6E0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-width: 100%;
  min-height: 500px;
  height: 100vh;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#hero-text {
  color: white;
  font-size: clamp(1rem, 8vw, 4rem);
  letter-spacing: 7px;
  margin-bottom: 10px;
  font-weight: 500;
}

.btn-styled {
  background-color: transparent;
  padding: 8px 12px;
  color: white;
  border: 2px white solid;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.btn-styled:hover {
  background-color: rgba(128, 128, 128, 0.123);
}

.btn-red {
  background-color: rgb(185, 2, 2);
  border: none;
  border-radius: 2px;
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: radial-gradient(
    rgba(27, 27, 27, 0.61),
    rgba(5, 5, 5, 0.897)
  );
}

#section-2 {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "a b"
  "c d";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

li a {
  width: 100%;
  height: 100%;
  text-align: center;
}

.img-container-1 {
  background-image: url("./assets/images/cath-smith-U3FD3M8mCC0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  grid-area: c;
}

.img-container-2 {
  background-image: url("./assets/images/kofookoo-de-mFiWJIBB3AU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  grid-area: b;
}

.info-container {
  grid-area: a;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opening-hours-container {
  grid-area: d;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  padding-top: 20px;
  color: white;
  font-weight: 400;
}

p {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: 400;
  line-height: 2;
  max-width: 50vw;
}

.info-container p {
  font-weight: 100;
}
.table-booking {
  background-color: rgb(19, 19, 19);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-booking h3 {
  font-size: clamp(20px, 36px, 48px);
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1000px) {
  #hero-text {
  }
}
