@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#restaurant-name {
  color: white;
  padding: 10px;
  cursor: pointer;
}

#bar1,
#bar2,
#bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#menu-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}

@media (hover: hover) {
  #menu-button:hover {
    background-color: rgba(65, 65, 65, 0.4);
  }

  li:hover {
    background-color: rgba(65, 65, 65, 0.4);
  }
}

#menu {
  list-style-type: none;
  transition: height ease 0.3s;
  overflow: hidden;
}

#menu[data-state="closed"] {
  height: 0px;
  overflow: hidden;
}

#menu[data-state="open"] {
  height: 152px;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(3px);
}

li {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

#hero {
  background-image: url("./assets/images/jakub-dziubak-iOHJKJqO6E0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-width: 100%;
  min-height: 500px;
  height: 60vh;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-text {
  color: white;
  font-size: 8vw;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

.btn-styled {
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: radial-gradient(
    rgba(39, 39, 39, 0.349),
    rgba(5, 5, 5, 0.719)
  );
}