@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#hero {
  background-image: url("./assets/images/jakub-dziubak-iOHJKJqO6E0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-width: 100%;
  min-height: 500px;
  height: 60vh;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-text {
  color: white;
  font-size: 8vw;
  letter-spacing: 7px;
  margin-bottom: 10px;
}

.btn-styled {
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: radial-gradient(
    rgba(39, 39, 39, 0.349),
    rgba(5, 5, 5, 0.719)
  );
}
